body{
	margin: 0;
}
header{
	border-bottom: #1c7430 1px solid;
}
header .top1 .new_route h1, header .top1 .new_route p{
	text-align: center;
}

header .top2{
	margin: 0 20% 0 20%;
	padding: 20px 0 20px 0;
}
.top2 {margin: 2% 11%;}
header .top1 {border-bottom: #1c7430 1px solid;}

header .top2 .add_route, th, td{
	text-align: center;
}
td {
	border: 2px solid transparent;
	border-image:linear-gradient(90deg, rgb(23, 131, 99),
	rgb(27, 27, 27) 50%, rgb(23, 131, 99) 100%) 1;
}
tr th {
	padding: 0 5px 0 5px;
}
.td-i {border: none}

ul {list-style-type: none;}

li {padding-top: 5px;}

table{
	width: 70vw;
	margin: auto;
}
button {
	outline: none;
	cursor: pointer;
}
.add_route {
	display: none;
	border: 1px black solid;
	border-top: rgb(23, 131, 99) 1px solid;
	background: rgb(13, 87, 29);
	background: linear-gradient(90deg,
	rgb(23, 131, 99) 0%,
	rgb(27, 27, 27) 50%,
	rgb(23, 131, 99) 100%);
	color: white;
	transition: all 0.2s linear;
}
#table {display: none;}

.btnRoute{
	border: 1px black solid;
	border-bottom: none;
	background: rgb(23, 131, 99);
	background: linear-gradient(90deg,
	rgb(23, 131, 99) 0%,
	rgb(16, 69, 51) 90%,
	rgb(22, 62, 37) 100%);
	color: white;
}
.fa-color{
	color: rgb(16, 69, 51);
	cursor: pointer;
}
.fa-angellist-tbl {color: rgb(16, 69, 51);}

.colorTableTitle{
	background: rgb(13, 87, 29);
	background: linear-gradient(90deg,
	rgb(23, 131, 99) 0%,
	rgb(27, 27, 27) 50%,
	rgb(23, 131, 99) 100%);
	color: white;
}
.formGroup{
	display: flex;
	padding: 0 40px 5px 0;
	justify-content: space-between;
}
.formGroupB{padding: 0 40px 0 0;}
.formGroup input, i{
	width: 50%;
	font-size: 12px;
}
.formGroup select {
	width: 51%;
	font-size: 12px;
}
.formGroupDiv{
	width: 50%;
	font-size: 20px;
}
ul li i {
	border-radius: 25px;
	transition: all 0.2s linear;
	width: 1px;
	height: 1px;
	cursor: pointer;
}
.fa-star-color:hover{
	background-color: white;
	box-shadow: 8px 4px 27px 22px #ffffff;
	color: rgba(0, 0, 0, 0.76);
}
.fa-star-color-click{
	background-color: white;
	box-shadow: 8px 4px 27px 22px #ffffff;
	color: rgba(0, 0, 0, 0.76);
}


.weather {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-shadow: 0.1em 0.1em 0 rgba(0,0,0,0.3);
	display: flex;
	align-items: center;
	padding: 0 20% 0 20%;
	height: 35vh;
	background-size: cover;

	border-top: 2px solid transparent;
	border-bottom: 1px solid transparent;
	border-image:linear-gradient(90deg, rgb(23, 131, 99),
	rgb(27, 27, 27) 50%, rgb(23, 131, 99) 100%) 1;

}
.temp {
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 5em;
}
.new_route{
	color: rgb(16, 69, 51);
}
footer{
	bottom: 0;
}